<tabset>
  <tab heading='Drag & Drop'>
    <div class="tab-content">
      <app-drag-and-drop></app-drag-and-drop>
    </div>
  </tab>
  <tab heading='Tree View'>
    <div class="tab-content">
      <app-tree-view></app-tree-view>
    </div>
  </tab>
  <tab heading='Math'>
    <div class="tab-content">
      <app-poc-matjax></app-poc-matjax>
    </div>
  </tab>
  <tab heading='Split'>
    <div class="tab-content">
      <app-poc-angular-split></app-poc-angular-split>
    </div>
  </tab>
</tabset>
